.carousel{
    margin: auto;
    width: 90%;
    background-color: rgba(29, 58, 133, 1);
    
    margin-top: 2rem;
    z-index: -1;
   
 
    height: 80vh;
   }
   .girl{
    width: 28%;
    margin-left: 43rem;
    z-index: 3;
   
    /* margin-top: 1rem; */
    /* outline: 2px solid orange; */
    /* background-color: #EFA748; */
   }
   .girl img{
    width: 100%;
   
  
   }
  
   .text{
    width: 50%;
    height: 100%;
    padding-left: 7rem;
    padding-top: 8rem;
    /* background-color: rgba(29, 58, 133, 1); */
    
    position: relative;
    /* z-index: -2; */
    /* border-radius: 0px 10rem 10rem 0px; */
   }
   .bluy{
    width: 600px;
    height: 85vh;
    position: absolute;
    top: 0rem;
    left: 94.5%;
    z-index: -1;
  
   }
   .bluy img{
    width: 100%;

   }
   .carousel-inner{
    /* outline: 2px solid orange; */
    width: 100%;
    display: flex;
    height: 100%;
    margin-top: 2rem;
    align-items: center;
    background-color: rgba(29, 58, 133, 1);
    /* background-color: #F2AA4C; */
   }
   .text h3{
    color: #fff;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   }
   .text p{
    margin-top: 1.5rem;
    color: #ffff;
    font-family: Lato;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
   }
  .shop{
    display: flex;
    width: 217px;
    height: 58px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 8px;
    color: var(--blue-600, #2B3991);
    background-color: #fff;
    border: 0;
    margin-top: 2rem;
  }
  .bar-twix{
    width: 30%;
  }